@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.card {
  @apply mb-5 block rounded-lg border border-gray-200 shadow-md;
}
.primary-button {
  @apply rounded bg-orange-800 py-2 px-4 shadow outline-none hover:bg-indigo-500 active:bg-orange-800;
}
